<%- include("common/_header") %>

<main id="main-site">
    <div id="container">
        <a href="/" class="border-shadow" style="margin: 25%;">
            <span class="text-gradient"><i class="fas fa-angle-double-left"></i> All Products</span>
        </a>

        <div class="form-title text-center">
            <h2 class="text-dark">Update Product</h2>
        </div>
        
        <form method="POST" id="updateProduct">
            <div class="newProduct">
                <div class="form-group">
                    <label for="id" class="text-dark">Product ID</label>
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <input type="text" name="id" value="<%= product.id %>" placeholder="123">
                </div>
                <div class="form-group">
                    <label for="name" class="text-dark">Product Name</label>
                    <input type="text" name="name" value="<%= product.name %>" placeholder="Eggs">
                </div>
                <div class="form-group">
                    <label for="price" class="text-dark">Price</label>
                    <input type="number" name="price" value="<%= product.price %>" placeholder=5>
                </div>
                <div class="form-group">
                    <label for="units" class="text-dark">Units Left</label>
                    <input type="number" name="units" value="<%= product.units %>" placeholder=20>
                </div>
                <div class="form-group">
                    <label for="category" class="text-dark">Product Category</label>
                    <input type="text" name="category" value="<%= product.category %>" placeholder="Food">
                </div>
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form>
    </div>
</main>

<%- include("common/_footer") %>